<!-- Page Content -->
<div class="content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-7 col-lg-8">
				<div class="card">
					<div class="card-body">
					
						<!-- Checkout Form -->
						<form>
						
							<!-- Personal Information -->
							<div class="info-widget">
								<h4 class="card-title">Informations Personnelles</h4>
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div class="form-group card-label">
											<label>Prénom</label>
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group card-label">
											<label>Nom</label>
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group card-label">
											<label>Adresse Mail</label>
											<input class="form-control" type="email">
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group card-label">
											<label>Téléphone</label>
											<input class="form-control" type="text">
										</div>
									</div>
								</div>
								<div class="exist-customer">Vous avez un Compte? <a href="javascript:void(0)">Clicker pour vous connecter</a></div>
							</div>
							<!-- /Personal Information -->
							
							<div class="payment-widget">
								<h4 class="card-title"> Mode de Paiement</h4>
								
								<!-- Credit Card Payment -->
								<div class="payment-list">
									<label class="payment-radio credit-card-option">
										<input type="radio" name="radio" checked>
										<span class="checkmark"></span>
										Carte Bancaire
									</label>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group card-label">
												<label for="card_name">Nom sur Carte</label>
												<input class="form-control" id="card_name" type="text">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group card-label">
												<label for="card_number"> Numéro Carte</label>
												<input class="form-control" id="card_number" placeholder="1234  5678  9876  5432" type="text">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group card-label">
												<label for="expiry_month"> Mois d'expiration</label>
												<input class="form-control" id="expiry_month" placeholder="MM" type="text">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group card-label">
												<label for="expiry_year">Année d'expiration</label>
												<input class="form-control" id="expiry_year" placeholder="YY" type="text">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group card-label">
												<label for="cvv">CVV</label>
												<input class="form-control" id="cvv" type="text">
											</div>
										</div>
									</div>
								</div>
								<!-- /Credit Card Payment -->
								
								<!-- Paypal Payment -->
								<div class="payment-list">
									<label class="payment-radio paypal-option">
										<input type="radio" name="radio">
										<span class="checkmark"></span>
										Paypal
									</label>
								</div>
								<!-- /Paypal Payment -->
								
								<!-- Terms Accept -->
								<div class="terms-accept">
									<div class="custom-checkbox">
									   <input type="checkbox" id="terms_accept">
									   <label for="terms_accept" class="ms-1">Lu et Approuvé <a href="javascript:void(0)">Termes &amp; Conditions</a></label>
									</div>
								</div>
								<!-- /Terms Accept -->
								
								<!-- Submit Section -->
								<div class="submit-section mt-4">
									<button type="button" [routerLink]="'/success'" class="btn btn-primary submit-btn">Confirmer et Payer</button>
								</div>
								<!-- /Submit Section -->
								
							</div>
						</form>
						<!-- /Checkout Form -->
						
					</div>
				</div>
				
			</div>
			
			<div class="col-md-5 col-lg-4 theiaStickySidebar">
			
				<!-- Booking Summary -->
				<div class="card booking-card">
					<div class="card-header">
						<h4 class="card-title">Récapitulatif Réservation</h4>
					</div>
					<div class="card-body">
					
						<!-- Booking Mentee Info -->
						<div class="booking-user-info">
							<a href="javascript:void(0)" class="booking-user-img">
								<img src="assets/img/user/user2.jpg" alt="User Image">
							</a>
							<div class="booking-info">
								<h4><a href="javascript:void(0)">Darren Elder</a></h4>
								<div class="rating">
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star"></i>
									<span class="d-inline-block average-rating">35</span>
								</div>
								<div class="mentor-details">
									<p class="user-location"><i class="fas fa-map-marker-alt"></i> Newyork, USA</p>
								</div>
							</div>
						</div>
						<!-- Booking Mentee Info -->
						
						<div class="booking-summary">
							<div class="booking-item-wrap">
								<ul class="booking-date">
									<li>Date <span>16 Nov 2019</span></li>
									<li>Time <span>10:00 AM</span></li>
								</ul>
								<ul class="booking-fee">
									<li>Consulatation <span>5dt</span></li>
									<li>Réservation <span>5dt</span></li>
									<li>Appel Vidéo <span>40dt</span></li>
								</ul>
								<div class="booking-total">
									<ul class="booking-total-list">
										<li>
											<span>Total</span>
											<span class="total-cost">50 DT</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Booking Summary -->
				
			</div>
		</div>

	</div>

</div>		
<!-- /Page Content -->
