<div class="doc-review review-listing">                            
    <!-- Review Listing -->
    <ul class="comments-list">    
        <!-- Comment List -->
        <li>
            <div class="comment">
                <img class="avatar rounded-circle" alt="User Image" src="assets/img/user/user.jpg">
                <div class="comment-body">
                    <div class="meta-data">
                        <span class="comment-author">Mohamed A. Negra</span>
                        <span class="comment-date">Evalué y a 2 jours </span>
                        <div class="review-count rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <p class="recommended"><i class="far fa-thumbs-up"></i> Je recommande ce Tuteur</p>
                    <p class="comment-content">
                        Je recommande vivement ce Tuteur! Mon expérience d'apprentissage était fabuleuse et enrichissante!
                    </p>
                    <div class="comment-reply">
                        <a class="comment-btn" href="javascript:void(0)">
                            <i class="fas fa-reply"></i> Répondre
                        </a>
                        <p class="recommend-btn">
                        <span>Recommander?</span>
                        <a href="javascript:void(0)" class="like-btn">
                            <i class="far fa-thumbs-up"></i> Oui
                        </a>
                        <a href="javascript:void(0)" class="dislike-btn">
                            <i class="far fa-thumbs-down"></i> Non
                        </a>
                    </p>
                    </div>
                </div>
            </div>
            
            <!-- Comment Reply -->
            <ul class="comments-reply">            
                <!-- Comment Reply List -->
                <li>
                    <div class="comment">
                        <img class="avatar rounded-circle" alt="User Image" src="assets/img/user/user2.jpg">
                        <div class="comment-body">
                            <div class="meta-data">
                                <span class="comment-author">Amin Bel Agha</span>
                                <span class="comment-date">Evalué y a 10 jours </span>
                            </div>
                            <p class="comment-content">
                                Un Tuteur super compréhensif et compétent! Mon niveau a considérablemnt évolué grace a sa guidance!
                            </p>
                            <div class="comment-reply">
                                <a class="comment-btn" href="javascript:void(0)">
                                    <i class="fas fa-reply"></i> Répondre
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- /Comment Reply List -->                
            </ul>
            <!-- /Comment Reply -->            
        </li>
        <!-- /Comment List -->        
        <!-- Comment List -->
        <li>
            <div class="comment">
                <img class="avatar rounded-circle" alt="User Image" src="assets/img/user/user2.jpg">
                <div class="comment-body">
                    <div class="meta-data">
                        <span class="comment-author">Anissa Mathlouthi</span>
                        <span class="comment-date">Evaluée y a 1 jour </span>
                        <div class="review-count rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                        </div>
                    </div>
                    <p class="comment-content">
                       Je recommande Madame Mathlouthi avec pleine confidence! Une Tutrice gentille et intelligente. Elle a aidé mon fils dans ses examens et sa plannification pour le futur!
                    </p>
                    <div class="comment-reply">
                        <a class="comment-btn" href="javascript:void(0)">
                            <i class="fas fa-reply"></i> Répondre
                        </a>
                        <p class="recommend-btn">
                            <span>Recommander?</span>
                            <a href="javascript:void(0)" class="like-btn">
                                <i class="far fa-thumbs-up"></i> Oui
                            </a>
                            <a href="javascript:void(0)" class="dislike-btn">
                                <i class="far fa-thumbs-down"></i> Non
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <!-- /Comment List -->        
