 <div class="page-wrapper">
	<div class="content container-fluid">
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title"> Welcome Admin!</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item active">Tableau de Bord</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-primary border-primary">
								<i class="fa fa-users"></i>
							</span>
							<div class="dash-count">
								<h3>900</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Membres</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-primary w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-success">
								<i class="fa fa-credit-card"></i>
							</span>
							<div class="dash-count">
								<h3>200</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Rendez-Vous</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-success w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-danger border-danger">
								<i class="fa fa-star"></i>
							</span>
							<div class="dash-count">
								<h3>500</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Points Tutorats</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-danger w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-warning border-warning">
								<i class="fa fa-folder"></i>
							</span>
							<div class="dash-count">
								<h3>5000</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Revenu</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-warning w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-6">

				<!-- Sales Chart -->
				<div class="card card-chart">
					<div class="card-header">
						<h4 class="card-title">Revenu</h4>
					</div>
					<div class="card-body">
						<div id="morrisArea">
							<apx-chart
										[series]="chartrevenue.series"
										[chart]="chartrevenue.chart"
										[xaxis]="chartrevenue.xaxis"
										[stroke]="chartrevenue.stroke"
										[dataLabels]="chartrevenue.dataLabels"
										[markers]="chartrevenue.markers"
										[legend]="chartrevenue.legend"
										[grid]="chartrevenue.grid"
										[yaxis]="chartrevenue.yaxis"
										[fill]="chartrevenue.fill"
										></apx-chart>
						</div>
					</div>
				</div>
				<!-- /Sales Chart -->

			</div>
			<div class="col-md-12 col-lg-6">

				<!-- Invoice Chart -->
				<div class="card card-chart">
					<div class="card-header">
						<h4 class="card-title">Statut</h4>
					</div>
					<div class="card-body">
						<div id="morrisLine">
							<apx-chart
										[series]="chartstatus.series"
										[chart]="chartstatus.chart"
										[xaxis]="chartstatus.xaxis"
										[stroke]="chartstatus.stroke"
										[dataLabels]="chartstatus.dataLabels"
										[markers]="chartstatus.markers"
										[legend]="chartstatus.legend"
										[grid]="chartstatus.grid"
										[yaxis]="chartstatus.yaxis"
										[fill]="chartstatus.fill"
										></apx-chart>
						</div>
					</div>
				</div>
				<!-- /Invoice Chart -->

			</div>
		</div>
		<div class="row">
			<div class="col-md-6 d-flex">
				<!-- Recent Orders -->
				<div class="card card-table flex-fill">
					<div class="card-header">
						<h4 class="card-title">Liste Tuteurs</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Nom Tuteur</th>
										<th>Cours</th>
										<th>Montant touché</th>
										<th>Avis</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/profiles/avatar-08.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Amin Bel Agha </a>
											</h2>
										</td>
										<td>Mathématiques</td>
										<td>3000DT</td>
										<td>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star-o text-secondary"></i>
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/profiles/avatar-07.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Mohamed A. Negra </a>
											</h2>
										</td>
										<td>Gestion</td>
										<td>2500DT</td>
										<td>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star-o text-secondary"></i>
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/profiles/avatar-17.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Kais Ben Hamouda</a>
											</h2>
										</td>
										<td>Anglais</td>
										<td>3500DT</td>
										<td>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star-o text-secondary"></i>
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/profiles/avatar-06.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'">Abelhak Ben Nasr</a>
											</h2>
										</td>
										<td> Français </td>
										<td>1000DT</td>
										<td>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star-o text-secondary"></i>
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/profiles/avatar-14.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Slim Dridi </a>
											</h2>
										</td>
										<td> Algorithme </td>
										<td>2000DT</td>
										<td>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star-o text-secondary"></i>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->
			</div>
			<div class="col-md-6 d-flex">
				<!-- Feed Activity -->
				<div class="card  card-table flex-fill">
					<div class="card-header">
						<h4 class="card-title"> Liste Apprenants</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th> Nom Apprenant</th>
										<th>Tel</th>
										<th>Dernière Visite</th>
										<th> Payé </th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/user/user.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Adam Benasr </a>
											</h2>
										</td>
										<td>01</td>
										<td>20 Mars 2024</td>
										<td class="text-end">150DT</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/user/user1.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Eline Hosni </a>
											</h2>
										</td>
										<td>233</td>
										<td>22 Avril 2024</td>
										<td class="text-end">300DT</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/user/user2.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Firas Kouki</a>
											</h2>
										</td>
										<td>003</td>
										<td>21 Avril 2024</td>
										<td class="text-end">300DT</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/user/user3.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Zakaria Benasr</a>
											</h2>
										</td>
										<td>004</td>
										<td>21 May 2024</td>
										<td class="text-end">400DT</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/user/user4.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Yahya Benasr </a>
											</h2>
										</td>
										<td>005</td>
										<td>18 Mars 2024</td>
										<td class="text-end">500DT</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Feed Activity -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<!-- Recent Orders -->
				<div class="card card-table">
					<div class="card-header">
						<h4 class="card-title"> Liste Réservations</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th> Nom Tuteur</th>
										<th>Cours</th>
										<th> Nom Apprenant</th>
										<th> Temps Réservation</th>
										<th>Statut</th>
										<th class="text-end">Montant</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/profiles/avatar-08.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'">Slim Dridi</a>
											</h2>
										</td>
										<td>Algorithme</td>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/user/user.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Adam Benasr </a>
											</h2>
										</td>
										<td>04 May 2024 <span class="text-primary d-block">11.00 AM - 13.00 AM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_1" class="check" checked>
												<label for="status_1" class="checktoggle">case à cocher</label>
											</div>
										</td>
										<td class="text-end">
											50DT
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/profiles/avatar-07.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'">Karim Ben Moussa</a>
											</h2>
										</td>
										<td>Chimie</td>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/user/user1.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Zakaria Benasr </a>
											</h2>
										</td>

										<td>20 Avril 2024 <span class="text-primary d-block">10.00 AM - 12.00 AM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_2" class="check" checked>
												<label for="status_2" class="checktoggle">case à cocher</label>
											</div>
										</td>
										<td class="text-end">
											45DT
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/profiles/avatar-17.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'">Ilyes Ben Turkia</a>
											</h2>
										</td>
										<td>Mathématiques</td>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/user/user2.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Yahya Benasr </a>
											</h2>
										</td>
										<td> 25 May 2024 <span class="text-primary d-block">17.00 PM - 19.00 PM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_3" class="check" checked>
												<label for="status_3" class="checktoggle">case à cocher</label>
											</div>
										</td>
										<td class="text-end">
											50DT
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/profiles/avatar-06.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Hamdi Souissi </a>
											</h2>
										</td>
										<td> Anglais </td>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/user/user3.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Eline Benasr </a>
											</h2>
										</td>
										<td>27 Avril 2024 <span class="text-primary d-block"> 15.00 PM - 17.00 PM </span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_4" class="check" checked>
												<label for="status_4" class="checktoggle">case à cocher </label>
											</div>
										</td>
										<td class="text-end">
											45DT
										</td>
									</tr>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/profiles/avatar-14.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Amin Bel Agha</a>
											</h2>
										</td>
										<td>Mathématiques</td>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/user/user4.jpg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'"> Adam Benasr </a>
											</h2>
										</td>

										<td>15 May 2024 <span class="text-primary d-block">18.00 PM - 20.00 PM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_5" class="check" checked>
												<label for="status_5" class="checktoggle">case à cocher</label>
											</div>
										</td>
										<td class="text-end">
											50DT
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->
				</div>
			</div>
		</div>
	</div>
